.services {
    display: flex;
    overflow: auto;
}

.services::-webkit-scrollbar {
    width: 0.1px;
    height: 0.1px;
}

.services::-webkit-scrollbar-thumb {
    background: transparent;
}

.services::-webkit-scrollbar-track {
    background: transparent;
}

