.login-fail {
    padding: 0 2rem 1rem 2rem;
    color: #f44336;
    font-weight: bold;
    text-align: center;
}

.input-section {
    position: relative;
    width: 80%;
    margin: auto;
}

.input-section label{
    font-family: "Calibri";
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
}

input#rePassword {
    margin-bottom: 0 !important;
}